.navbar-css{
  background-color:#303235 !important;
  
  color: white;
  padding: 20px;
}
.navbar-css p{
  font-size: 2rem;
}
.css{
  justify-content: center;

}
.m-css{
  margin-right: 5px !important;
}

.st-css{
  background-color:#303235 !important;
  color: aliceblue;
  text-align: right;
  font-size: 14px !important;
}

.cs-ss{
  display: flex;
}

.bg-inf{

}